# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore Ruby Gems
/vendor/ruby

# Sublime projects
*.sublime-workspace

/config/.DS_Store
/.DS_Store

high_scores.txt
quantum_waver_prag_studio_game-1.0.0.gem
